@import "../src/common/Colors.scss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Akshar", sans-serif;
}

a {
  text-decoration: "none";
}

body {
  background-color: $primary-color;
}

.container {
  padding: 0 40px;
}
